/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Official brand colors:
 * Light mode: rgb(0, 123, 229)
 * Dark mode: rgb(128, 202, 255)
 */

:root {
  /* Brand color - Light mode */
  --vp-c-brand-1: rgb(0, 123, 229);
  --vp-c-brand-2: rgb(0, 123, 229);
  --vp-c-brand-3: rgb(0, 123, 229);

  /* Brand lighter variants */
  --vp-c-brand-soft: rgba(0, 123, 229, 0.14);

  /* Link colors */
  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, 0.78);
  --vp-c-text-3: rgba(60, 60, 67, 0.56);
}

.dark {
  /* Brand color - Dark mode */
  --vp-c-brand-1: rgb(128, 202, 255);
  --vp-c-brand-2: rgb(128, 202, 255);
  --vp-c-brand-3: rgb(128, 202, 255);

  /* Brand lighter variants for dark mode */
  --vp-c-brand-soft: rgba(128, 202, 255, 0.16);

  /* Text colors */
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: rgb(0, 110, 207);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: rgb(0, 98, 184);
}

.dark {
  --vp-button-brand-hover-bg: rgb(115, 192, 245);
  --vp-button-brand-active-bg: rgb(102, 182, 235);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    rgb(0, 123, 229) 30%,
    rgb(0, 160, 255)
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgba(0, 123, 229, 0.3) 50%,
    rgba(0, 160, 255, 0.2) 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

.dark {
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    rgb(128, 202, 255) 30%,
    rgb(170, 220, 255)
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgba(128, 202, 255, 0.3) 50%,
    rgba(170, 220, 255, 0.2) 50%
  );
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-nav-logo-height: 48px;
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.VPImage {
  margin-right: 0 !important;
  margin-left: -12px !important;
}
.VPImage + span {
  margin-top: 12px;
}
